*{
    background: rgb(41, 40, 40);
}

h1{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: darkkhaki;
}

h1{
    color: brown;
}

h2{
    color: aqua;
}

.titulos-grandes{
    font-size: 40px;
}

.kleber{
    color: burlywood;
}

#titulo{
    color:darkred;
}