*{
    background-color: rgb(63, 59, 59);
}

.caixa_width{
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */

    /* shorthand => varios valores na mesma propiedade  */
    border: 2px solid red;

    width: 200px;
}

.imagem_width{
    width: 400px;
}

.caixa_height{
    border: 1px dashed green;

    height: 100px;
    width: 100px;
} 

